USE [atzoum01]
GO
/****** Object:  Table [dbo].[ALBUM]    Script Date: 11/29/2020 6:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALBUM](
	[album_id] [int] IDENTITY(1,1) NOT NULL,
	[album_name] [nvarchar](50) NOT NULL,
	[privacy] [char](1) NOT NULL,
	[description] [nvarchar](50) NULL,
	[city_id] [int] NULL,
	[profile_id] [int] NOT NULL,
	[link]  AS ('SocialFace/album/'+CONVERT([varchar](50),[album_id])),
	[update_date] [datetime2](0) NULL,
 CONSTRAINT [PK_ALBUM] PRIMARY KEY CLUSTERED 
(
	[album_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALBUM_COMMENTS]    Script Date: 11/29/2020 6:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALBUM_COMMENTS](
	[album_id] [int] NOT NULL,
	[profile_id] [int] NOT NULL,
	[comments] [nvarchar](50) NULL,
 CONSTRAINT [PK_ALBUM_COMMENTS] PRIMARY KEY CLUSTERED 
(
	[album_id] ASC,
	[profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CITY]    Script Date: 11/29/2020 6:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITY](
	[city_id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CITY] PRIMARY KEY CLUSTERED 
(
	[city_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTAINS]    Script Date: 11/29/2020 6:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTAINS](
	[album_id] [int] NOT NULL,
	[photo_id] [int] NOT NULL,
 CONSTRAINT [PK_CONTAINS] PRIMARY KEY CLUSTERED 
(
	[album_id] ASC,
	[photo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENT_RESPONSES]    Script Date: 11/29/2020 6:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENT_RESPONSES](
	[event_id] [int] NOT NULL,
	[profile_id] [int] NOT NULL,
 CONSTRAINT [PK_EVENT_RESPONSES] PRIMARY KEY CLUSTERED 
(
	[event_id] ASC,
	[profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENTS]    Script Date: 11/29/2020 6:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTS](
	[event_id] [int] IDENTITY(1,1) NOT NULL,
	[event_name] [nvarchar](50) NOT NULL,
	[privacy] [char](1) NOT NULL,
	[location] [nvarchar](50) NULL,
	[start_time] [datetime2](0) NOT NULL,
	[end_time] [datetime2](0) NOT NULL,
	[description] [nvarchar](50) NULL,
	[owner_id] [int] NOT NULL,
	[venue] [int] NULL,
	[update_date] [datetime2](0) NULL,
 CONSTRAINT [PK_EVENTS] PRIMARY KEY CLUSTERED 
(
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FRIENDS]    Script Date: 11/29/2020 6:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FRIENDS](
	[profile_1] [int] NOT NULL,
	[profile_2] [int] NOT NULL,
 CONSTRAINT [PK_FRIENDS] PRIMARY KEY CLUSTERED 
(
	[profile_1] ASC,
	[profile_2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INTERESTS]    Script Date: 11/29/2020 6:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTERESTS](
	[interest_id] [int] NOT NULL,
	[interest_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_INTERESTS] PRIMARY KEY CLUSTERED 
(
	[interest_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIKES]    Script Date: 11/29/2020 6:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIKES](
	[photo_id] [int] NOT NULL,
	[profile_id] [int] NOT NULL,
 CONSTRAINT [PK_LIKES] PRIMARY KEY CLUSTERED 
(
	[photo_id] ASC,
	[profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LINKS]    Script Date: 11/29/2020 6:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LINKS](
	[link_id] [int] IDENTITY(1,1) NOT NULL,
	[link] [nvarchar](100) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[caption] [nvarchar](50) NULL,
	[description] [nvarchar](100) NULL,
	[message] [nvarchar](100) NULL,
	[from_user] [int] NOT NULL,
	[update_date] [datetime2](0) NULL,
 CONSTRAINT [PK_LINKS] PRIMARY KEY CLUSTERED 
(
	[link_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHOTOS]    Script Date: 11/29/2020 6:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHOTOS](
	[photo_id] [int] IDENTITY(1,1) NOT NULL,
	[photo_name] [nvarchar](50) NOT NULL,
	[height] [int] NULL,
	[width] [int] NULL,
	[from_user] [int] NOT NULL,
	[link]  AS ('SocialFace/photo/'+CONVERT([varchar](50),[photo_id])),
	[update_date] [datetime2](0) NULL,
	[source] [nvarchar](100) NULL,
 CONSTRAINT [PK_PHOTOS] PRIMARY KEY CLUSTERED 
(
	[photo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFILE]    Script Date: 11/29/2020 6:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFILE](
	[profile_id] [int] IDENTITY(1,1) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[name]  AS (([first_name]+' ')+[last_name]),
	[birthday] [date] NOT NULL,
	[website] [nvarchar](50) NULL,
	[email] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[born_at] [int] NULL,
	[lives_in] [int] NULL,
	[gender] [char](1) NOT NULL,
	[link]  AS ('SocialFace/profile/'+CONVERT([varchar](50),[profile_id])),
	[verified] [bit] NULL,
 CONSTRAINT [PK_PROFILE] PRIMARY KEY CLUSTERED 
(
	[profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_PROFILE_password] UNIQUE NONCLUSTERED 
(
	[password] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUOTES]    Script Date: 11/29/2020 6:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUOTES](
	[profile_id] [int] NOT NULL,
	[text] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_QUOTES] PRIMARY KEY CLUSTERED 
(
	[profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQUESTS]    Script Date: 11/29/2020 6:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUESTS](
	[profile_1] [int] NOT NULL,
	[profile_2] [int] NOT NULL,
	[states] [char](1) NULL,
 CONSTRAINT [PK_REQUESTS] PRIMARY KEY CLUSTERED 
(
	[profile_1] ASC,
	[profile_2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDIED_AT]    Script Date: 11/29/2020 6:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDIED_AT](
	[school] [varchar](50) NOT NULL,
	[profile_id] [int] NOT NULL,
 CONSTRAINT [PK_STUDIED_AT] PRIMARY KEY CLUSTERED 
(
	[profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TABLES]    Script Date: 11/29/2020 6:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABLES](
	[interest_id] [int] NOT NULL,
	[profile_id] [int] NOT NULL,
 CONSTRAINT [PK_TABLES] PRIMARY KEY CLUSTERED 
(
	[interest_id] ASC,
	[profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VIDEO]    Script Date: 11/29/2020 6:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIDEO](
	[video_id] [int] IDENTITY(1,1) NOT NULL,
	[message] [nvarchar](100) NULL,
	[description] [nvarchar](100) NULL,
	[profile_id] [int] NOT NULL,
	[update_date] [datetime2](0) NULL,
	[source] [nvarchar](100) NULL,
 CONSTRAINT [PK_VIDEO] PRIMARY KEY CLUSTERED 
(
	[video_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VIDEO_COMMENTS]    Script Date: 11/29/2020 6:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIDEO_COMMENTS](
	[video_id] [int] NOT NULL,
	[profile_id] [int] NOT NULL,
	[comments] [nvarchar](50) NULL,
 CONSTRAINT [PK_VDEO_COMMENTS] PRIMARY KEY CLUSTERED 
(
	[video_id] ASC,
	[profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKED_FOR]    Script Date: 11/29/2020 6:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKED_FOR](
	[profile_id] [int] NOT NULL,
	[company] [varchar](50) NOT NULL,
 CONSTRAINT [PK_WORKED_FOR] PRIMARY KEY CLUSTERED 
(
	[profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ALBUM]  WITH CHECK ADD  CONSTRAINT [FK_ALBUM_CITY] FOREIGN KEY([city_id])
REFERENCES [dbo].[CITY] ([city_id])
GO
ALTER TABLE [dbo].[ALBUM] CHECK CONSTRAINT [FK_ALBUM_CITY]
GO
ALTER TABLE [dbo].[ALBUM]  WITH CHECK ADD  CONSTRAINT [FK_ALBUM_PROFILE] FOREIGN KEY([profile_id])
REFERENCES [dbo].[PROFILE] ([profile_id])
GO
ALTER TABLE [dbo].[ALBUM] CHECK CONSTRAINT [FK_ALBUM_PROFILE]
GO
ALTER TABLE [dbo].[ALBUM_COMMENTS]  WITH CHECK ADD  CONSTRAINT [FK_ALBUM_COMMENTS_ALBUM] FOREIGN KEY([album_id])
REFERENCES [dbo].[ALBUM] ([album_id])
GO
ALTER TABLE [dbo].[ALBUM_COMMENTS] CHECK CONSTRAINT [FK_ALBUM_COMMENTS_ALBUM]
GO
ALTER TABLE [dbo].[ALBUM_COMMENTS]  WITH CHECK ADD  CONSTRAINT [FK_ALBUM_COMMENTS_PROFILE] FOREIGN KEY([profile_id])
REFERENCES [dbo].[PROFILE] ([profile_id])
GO
ALTER TABLE [dbo].[ALBUM_COMMENTS] CHECK CONSTRAINT [FK_ALBUM_COMMENTS_PROFILE]
GO
ALTER TABLE [dbo].[CONTAINS]  WITH CHECK ADD  CONSTRAINT [FK_ALBUM_ID] FOREIGN KEY([album_id])
REFERENCES [dbo].[ALBUM] ([album_id])
GO
ALTER TABLE [dbo].[CONTAINS] CHECK CONSTRAINT [FK_ALBUM_ID]
GO
ALTER TABLE [dbo].[CONTAINS]  WITH CHECK ADD  CONSTRAINT [FK_PHOTO_ID] FOREIGN KEY([photo_id])
REFERENCES [dbo].[PHOTOS] ([photo_id])
GO
ALTER TABLE [dbo].[CONTAINS] CHECK CONSTRAINT [FK_PHOTO_ID]
GO
ALTER TABLE [dbo].[EVENT_RESPONSES]  WITH CHECK ADD  CONSTRAINT [FK_EVENT_RESPONSES_EVENTS] FOREIGN KEY([event_id])
REFERENCES [dbo].[EVENTS] ([event_id])
GO
ALTER TABLE [dbo].[EVENT_RESPONSES] CHECK CONSTRAINT [FK_EVENT_RESPONSES_EVENTS]
GO
ALTER TABLE [dbo].[EVENT_RESPONSES]  WITH CHECK ADD  CONSTRAINT [FK_EVENT_RESPONSES_PROFILE] FOREIGN KEY([profile_id])
REFERENCES [dbo].[PROFILE] ([profile_id])
GO
ALTER TABLE [dbo].[EVENT_RESPONSES] CHECK CONSTRAINT [FK_EVENT_RESPONSES_PROFILE]
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD  CONSTRAINT [FK_EVENTS_CITY] FOREIGN KEY([venue])
REFERENCES [dbo].[CITY] ([city_id])
GO
ALTER TABLE [dbo].[EVENTS] CHECK CONSTRAINT [FK_EVENTS_CITY]
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD  CONSTRAINT [FK_EVENTS_PROFILE] FOREIGN KEY([owner_id])
REFERENCES [dbo].[PROFILE] ([profile_id])
GO
ALTER TABLE [dbo].[EVENTS] CHECK CONSTRAINT [FK_EVENTS_PROFILE]
GO
ALTER TABLE [dbo].[FRIENDS]  WITH CHECK ADD  CONSTRAINT [FK_FRIENDS_PROFILE] FOREIGN KEY([profile_1])
REFERENCES [dbo].[PROFILE] ([profile_id])
GO
ALTER TABLE [dbo].[FRIENDS] CHECK CONSTRAINT [FK_FRIENDS_PROFILE]
GO
ALTER TABLE [dbo].[FRIENDS]  WITH CHECK ADD  CONSTRAINT [FK_FRIENDS_PROFILE1] FOREIGN KEY([profile_2])
REFERENCES [dbo].[PROFILE] ([profile_id])
GO
ALTER TABLE [dbo].[FRIENDS] CHECK CONSTRAINT [FK_FRIENDS_PROFILE1]
GO
ALTER TABLE [dbo].[LIKES]  WITH CHECK ADD  CONSTRAINT [FK_LIKES_PHOTOS] FOREIGN KEY([photo_id])
REFERENCES [dbo].[PHOTOS] ([photo_id])
GO
ALTER TABLE [dbo].[LIKES] CHECK CONSTRAINT [FK_LIKES_PHOTOS]
GO
ALTER TABLE [dbo].[LIKES]  WITH CHECK ADD  CONSTRAINT [FK_LIKES_PROFILE] FOREIGN KEY([profile_id])
REFERENCES [dbo].[PROFILE] ([profile_id])
GO
ALTER TABLE [dbo].[LIKES] CHECK CONSTRAINT [FK_LIKES_PROFILE]
GO
ALTER TABLE [dbo].[LINKS]  WITH CHECK ADD  CONSTRAINT [FK_LINKS_PROFILE] FOREIGN KEY([from_user])
REFERENCES [dbo].[PROFILE] ([profile_id])
GO
ALTER TABLE [dbo].[LINKS] CHECK CONSTRAINT [FK_LINKS_PROFILE]
GO
ALTER TABLE [dbo].[PHOTOS]  WITH CHECK ADD  CONSTRAINT [FK_PHOTOS_PROFILE] FOREIGN KEY([from_user])
REFERENCES [dbo].[PROFILE] ([profile_id])
GO
ALTER TABLE [dbo].[PHOTOS] CHECK CONSTRAINT [FK_PHOTOS_PROFILE]
GO
ALTER TABLE [dbo].[PROFILE]  WITH CHECK ADD  CONSTRAINT [FK_PROFILE_CITY] FOREIGN KEY([born_at])
REFERENCES [dbo].[CITY] ([city_id])
GO
ALTER TABLE [dbo].[PROFILE] CHECK CONSTRAINT [FK_PROFILE_CITY]
GO
ALTER TABLE [dbo].[PROFILE]  WITH CHECK ADD  CONSTRAINT [FK_PROFILE_CITY1] FOREIGN KEY([lives_in])
REFERENCES [dbo].[CITY] ([city_id])
GO
ALTER TABLE [dbo].[PROFILE] CHECK CONSTRAINT [FK_PROFILE_CITY1]
GO
ALTER TABLE [dbo].[QUOTES]  WITH CHECK ADD  CONSTRAINT [FK_QUOTES_PROFILE] FOREIGN KEY([profile_id])
REFERENCES [dbo].[PROFILE] ([profile_id])
GO
ALTER TABLE [dbo].[QUOTES] CHECK CONSTRAINT [FK_QUOTES_PROFILE]
GO
ALTER TABLE [dbo].[REQUESTS]  WITH CHECK ADD  CONSTRAINT [FK_REQUESTS_PROFILE] FOREIGN KEY([profile_1])
REFERENCES [dbo].[PROFILE] ([profile_id])
GO
ALTER TABLE [dbo].[REQUESTS] CHECK CONSTRAINT [FK_REQUESTS_PROFILE]
GO
ALTER TABLE [dbo].[REQUESTS]  WITH CHECK ADD  CONSTRAINT [FK_REQUESTS_PROFILE1] FOREIGN KEY([profile_2])
REFERENCES [dbo].[PROFILE] ([profile_id])
GO
ALTER TABLE [dbo].[REQUESTS] CHECK CONSTRAINT [FK_REQUESTS_PROFILE1]
GO
ALTER TABLE [dbo].[STUDIED_AT]  WITH CHECK ADD  CONSTRAINT [FK_STUDIED_AT_PROFILE] FOREIGN KEY([profile_id])
REFERENCES [dbo].[PROFILE] ([profile_id])
GO
ALTER TABLE [dbo].[STUDIED_AT] CHECK CONSTRAINT [FK_STUDIED_AT_PROFILE]
GO
ALTER TABLE [dbo].[TABLES]  WITH CHECK ADD  CONSTRAINT [FK_TABLES_INTERESTS] FOREIGN KEY([interest_id])
REFERENCES [dbo].[INTERESTS] ([interest_id])
GO
ALTER TABLE [dbo].[TABLES] CHECK CONSTRAINT [FK_TABLES_INTERESTS]
GO
ALTER TABLE [dbo].[TABLES]  WITH CHECK ADD  CONSTRAINT [FK_TABLES_PROFILE] FOREIGN KEY([profile_id])
REFERENCES [dbo].[PROFILE] ([profile_id])
GO
ALTER TABLE [dbo].[TABLES] CHECK CONSTRAINT [FK_TABLES_PROFILE]
GO
ALTER TABLE [dbo].[VIDEO]  WITH CHECK ADD  CONSTRAINT [FK_VIDEO_PROFILE] FOREIGN KEY([profile_id])
REFERENCES [dbo].[PROFILE] ([profile_id])
GO
ALTER TABLE [dbo].[VIDEO] CHECK CONSTRAINT [FK_VIDEO_PROFILE]
GO
ALTER TABLE [dbo].[VIDEO_COMMENTS]  WITH CHECK ADD  CONSTRAINT [FK_VIDEO_COMMENTS_PROFILE] FOREIGN KEY([profile_id])
REFERENCES [dbo].[PROFILE] ([profile_id])
GO
ALTER TABLE [dbo].[VIDEO_COMMENTS] CHECK CONSTRAINT [FK_VIDEO_COMMENTS_PROFILE]
GO
ALTER TABLE [dbo].[VIDEO_COMMENTS]  WITH CHECK ADD  CONSTRAINT [FK_VIDEO_COMMENTS_VIDEO] FOREIGN KEY([video_id])
REFERENCES [dbo].[VIDEO] ([video_id])
GO
ALTER TABLE [dbo].[VIDEO_COMMENTS] CHECK CONSTRAINT [FK_VIDEO_COMMENTS_VIDEO]
GO
ALTER TABLE [dbo].[WORKED_FOR]  WITH CHECK ADD  CONSTRAINT [FK_WORKED_FOR_PROFILE] FOREIGN KEY([profile_id])
REFERENCES [dbo].[PROFILE] ([profile_id])
GO
ALTER TABLE [dbo].[WORKED_FOR] CHECK CONSTRAINT [FK_WORKED_FOR_PROFILE]
GO
ALTER TABLE [dbo].[ALBUM]  WITH CHECK ADD  CONSTRAINT [CK_al_privacy] CHECK  (([privacy]='F' OR [privacy]='O' OR [privacy]='C' OR [privacy]='N'))
GO
ALTER TABLE [dbo].[ALBUM] CHECK CONSTRAINT [CK_al_privacy]
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD  CONSTRAINT [CK_ev_privacy] CHECK  (([privacy]='F' OR [privacy]='O' OR [privacy]='C' OR [privacy]='N'))
GO
ALTER TABLE [dbo].[EVENTS] CHECK CONSTRAINT [CK_ev_privacy]
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD  CONSTRAINT [CK_time] CHECK  (([start_time]<[end_time]))
GO
ALTER TABLE [dbo].[EVENTS] CHECK CONSTRAINT [CK_time]
GO
ALTER TABLE [dbo].[PROFILE]  WITH CHECK ADD  CONSTRAINT [CK_birthday] CHECK  (([birthday]<'2020-1-1'))
GO
ALTER TABLE [dbo].[PROFILE] CHECK CONSTRAINT [CK_birthday]
GO
ALTER TABLE [dbo].[PROFILE]  WITH CHECK ADD  CONSTRAINT [CK_email] CHECK  (([email] like '_%@%_'))
GO
ALTER TABLE [dbo].[PROFILE] CHECK CONSTRAINT [CK_email]
GO
ALTER TABLE [dbo].[PROFILE]  WITH CHECK ADD  CONSTRAINT [CK_gender] CHECK  (([gender]='M' OR [gender]='F'))
GO
ALTER TABLE [dbo].[PROFILE] CHECK CONSTRAINT [CK_gender]
GO
